/* Указываем box sizing */
*,
*::before,
*::after {
    box-sizing: border-box;
}

/* Убираем внутренние отступы */
ul[class],
ol[class] {
    padding: 0;
}

/* Убираем внешние отступы */
body,
h1,
h2,
h3,
h4,
p,
ul[class],
ol[class],
li,
figure,
figcaption,
blockquote,
dl,
dd {
    margin: 0;
}

/* Выставляем основные настройки по-умолчанию для body */
body {
    min-height: 100vh;
    scroll-behavior: smooth;
    text-rendering: optimizeSpeed;
    line-height: 1.5;
}

/* Удаляем стандартную стилизацию для всех ul и il, у которых есть атрибут class*/
ul[class],
ol[class] {
    list-style: none;
}

/* Элементы a, у которых нет класса, сбрасываем до дефолтных стилей */
a:not([class]) {
    text-decoration-skip-ink: auto;
}

/* Упрощаем работу с изображениями */
img {
    max-width: 100%;
    display: block;
}

/* Указываем понятную периодичность в потоке данных у article*/
article>*+* {
    margin-top: 1em;
}

/* Наследуем шрифты для инпутов и кнопок */
input,
button,
textarea,
select {
    font: inherit;
}

/* Удаляем все анимации и переходы для людей, которые предпочитай их не использовать */
@media (prefers-reduced-motion: reduce) {
    * {
        animation-duration: 0.01ms !important;
        animation-iteration-count: 1 !important;
        transition-duration: 0.01ms !important;
        scroll-behavior: auto !important;
    }
}

.desktop_menu {
    display: none;
}

.header {
    display: flex;
    justify-content: space-between;
    box-shadow: 0px 1px 0px rgba(0, 0, 0, 0.16);
}

.top_padding_nordic {
    padding: 24px 0px 21px 20px;
}

.top_padding_burger {
    padding: 24px 24px;
}

.top_section {
    text-align: center;
    padding-top: 52px;
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
}

.about_blog {
    font-family: 'New York Extra Large', sans-serif;
    font-size: 34px;
    font-weight: 700;
    line-height: 120%;
    padding: 32px 20px 0px 20px;
    margin-right: auto;
    margin-left: auto;
    max-width: 375px;
}




.small_text_about_blog {
    padding: 24px 20px 0px 20px;
    font-family: 'SF Mono';
    font-weight: 400;
    font-size: 16px;
    line-height: 170%;
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    margin-right: auto;
    margin-left: auto;
    max-width: 375px;
}

.section_with_photo {
    margin-top: 52px;
    margin-left: auto;
    margin-right: auto;
    border-top: 2px solid black;
    max-width: 640px;
    text-align: center;
    padding-top: 56px;
    position: relative;
}

.photo {
    max-width: 304px;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-left: auto;
    margin-right: auto;
}

.text_after_images {
    font-family: 'SF Pro Display';
    font-weight: 500;
    font-size: 22px;
    line-height: 120%;
    padding: 20px 11px 0px 11px;
}

.second_page_photos {
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 42px;
}

.articles {
    font-family: 'New York Extra Large';
    font-weight: 700;
    font-size: 32px;
    line-height: 38px;
    margin-bottom: -13px;

}

.footer_black_square {
    background: black;
    color: white;
    text-align: center;
    margin-top: 87px;
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
    overflow: hidden;
}

.square_first_text {
    position: absolute;
    white-space: nowrap;
    display: flex;
    gap: 19px;
    left: 50%;
    transform: translateX(-40.5%);
    padding-top: 22px;
}

.bold_text {
    font-weight: bold;
}

.scroll_text {
    font-family: 'SF Pro Display', sans-serif;
    font-size: 20px;
    line-height: 28px;

}

.bottom_rose {
    padding-top: 153px;
    margin-left: auto;
    margin-right: auto;
}

.lorem {
    padding: 26px 44px 0px 44px;
    padding-top: 26px;
    font-family: 'New York Small';
    font-weight: 400;
    font-size: 13px;
    line-height: 140%;
    max-width: 375px;
}

.links {
    list-style-type: none;
    display: flex;
    justify-content: center;
    gap: 28px;
}

.links_div {
    padding-top: 32px;
}

.link {
    font-family: 'SF Pro Display', sans-serif;
    font-weight: 500;
    font-size: 13px;
    line-height: 170%;
    color: white;
}

.copy_text {
    font-family: 'SF Pro Display', sans-serif;
    font-weight: 500;
    font-size: 12px;
    line-height: 140%;
    padding: 64px 98px 32px 98px;
    max-width: 374px;
}

@media (min-width:855px) {
    .about_blog {
        max-width: 854px;
        font-size: 54px
    }

    .articles {
        font-size: 44px;
        padding-bottom: 39px;
    }

    .small_text_about_blog {
        font-size: 20px;
        max-width: 550px;
    }

    .photo {
        max-width: 640px;
        flex-wrap: wrap;
        height: 920px;
        gap: 32px;
        justify-content: space-between;
    }

    .attribute {
        flex: 1;
        max-width: 304px;
        height: 338px;
    }

    .second_page_photos {
        margin: 0px 0px 0px 0px;
    }

    .text_after_images {
        padding: 20px 0px 0px 0px;
        margin-left: auto;
        margin-right: auto;
        width: 282px;
    }

    .square_first_text {
        left: 50%;
        transform: translateX(-50.0%);
    }

    .scroll_text {
        font-size: 22px;
        letter-spacing: 0.1em;
    }

    .lorem {
        font-size: 16px;
        max-width: 482px;
    }

    .link {
        font-size: 16px;
    }
}

@media (min-width:1024px) {
    .desktop_menu {
        display: flex;
        gap: 32px;
        font-family: 'New York Small';
        font-weight: 500;
        font-size: 20px;
        line-height: 170%;
        letter-spacing: 0.12em;
        text-transform: uppercase;
        padding: 59px 61px 0px 0px;
    }

    .first_part {
        color: #000000;
        border-bottom: 2px solid #000000;
        padding-bottom: 40px;
        text-decoration: none;
    }

    .second_part,
    .third_part,
    .fouth_part {
        color: #000000;
        text-decoration: none;
    }

    .top_padding_burger {
        display: none;
    }

    .top_padding_nordic {
        padding: 52px 0px 0px 63px;
    }
}